
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/1.png" alt="Zaenal" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Zaenal Abidin Syah</h1>
            <p class="lead">halo | halo</p>
        </div>
    </div>
</div>